@ConfigOption(name = "My Option", desc = "")
var myOption: Boolean = false

@SkyHanniModule
companion object {
    @HandleEvent
    fun onConfigFix(event: ConfigUpdaterMigrator.ConfigFixEvent) {
        event.move(127, "some.path.myOption", "some.path.myOption")
    }
}